/* whole page */
body{
  font-family: Verdana
  color: black;
  background-color: white;
}

/* header */

header {
  display: flex;
  align-items: center;
  position: fixed;
  z-index: 1;
  width: 100%;
  height: 80px;
  border-bottom: 1px solid black;
  background-color: white;
  font-family: "Verdana", sans-serif;
	color: black;
  font-size: 14px;
  font-weight: bold;
}

.title {
  display: flex;
  align-items: center;
  flex-grow: 1;
  padding-left: 30px;
}

.title img {
  width: 70px;
  height: 60px;
  margin-right: 12px;
}

.title span {
  color: mediumaquamarine;
}
a{
	color: black;
}
nav {
  display: inline-block;
	align-items: center;
	padding: 20px 10px;
	padding-right: 40px;
}

/* flex container */

.flexcontainer{
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: relative;
  top: 75px;
  }

/* common to all flex-items in flexcontainer */

.flex-item{
  border-style: solid;
  border-width: thin;
  border-color: black;
  padding: 5px;
  text-align: left;
}
.story .earth .cameras{
  display: flex;
  justify-content:flex-start;
}

/* main container large */

.left{
  display: flex;
  width: 630px;
  margin-right: 20px;
}
 .tuna{
  display: flex;
flex-direction: column;
  align-items: center;
  background-image: url("./../resources/img-story-main.png");
  width: 630px;
  height: 300px;
  margin-top: 0;
  text-align: left;
  font-family: Georgia;
  font-size: 40px;
  font-weight: bold;
  color: white;
  background-color: red;
  }
  .valley{
    color: black;
    font-family: Georgia;
    font-size: 17px;
  }
  .earth{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 300px;
    background-image: url("./../resources/img-story-2.png");
    font-family: Georgia;
    font-size: 30px;
    color: white;
  }
  .cameras{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 300px;
    background-image: url("./../resources/img-story-3.png");
    font-family: Georgia;
    font-size: 30px;
    color: white;
  }


/* main container medium */

.middle{
  display: flex;
  width: 300px;
}
.cats{
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 300px;
  background-image: url("./../resources/img-story-1.png");
  font-family: Georgia;
  font-size: 30px;
  color: white;
}

/* main container right */

.right{
  display: flex;
  width: 240px;
}
