/* whole page */
body{
  font-family: Verdana
  color: black;
  background-color: white;
}

/* header */

header {
  display: flex;
  align-items: center;
  position: fixed;
  z-index: 1;
  width: 100%;
  height: 80px;
  border-bottom: 1px solid black;
  background-color: white;
  font-family: "Verdana", sans-serif;
	color: black;
  font-size: 14px;
  font-weight: bold;
}

.title {
  display: flex;
  align-items: center;
  flex-grow: 1;
  padding-left: 30px;
}

.title img {
  width: 70px;
  height: 60px;
  margin-right: 12px;
}

.title span {
  color: mediumaquamarine;
}
a{
	color: black;
}
nav {
  display: inline-block;
	align-items: center;
	padding: 20px 10px;
	padding-right: 40px;
}

/* main container large */

.column .large{
  display: flex,
  align-items: left;
  border: 2px;
  border-color: black;
  width: 630px;
  position: relative;
  top: 50px;
  left: 0px;
  border: 2px;
}

/* main container medium */

.column .medium{
  display: flex;
  width: 300px;
  align-items: center;
}

/* main container small */

.column .small{
  display: flex;
  align-items: flex-end;
  width: 240px;
}
