.header{
	display: flex;
	font-family: Verdana;
	font-size: 14px,
	font-weight: bold;
}
.logo{
	display: flex,
}
.title{
	color: MediumAquamarine;
	display: flex;
	justify-content: flex-start;
}
.nav{
justify-content: flex-end;
}
